<% provide(:title, 'Home') %>
<div class="center hero-unit">

  <h1>Dividend Finder</h1>

  <h2>
  Dividend Finder. Where we do the searching..
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

