<% provide(:title, 'Home') %>
<div class="center hero-unit">

  <h1>Dividend Finder</h1>

  <h2>
  Some of the companies paying the highest dividends: 
  </h2>

  <%= link_to "More?", new_user_registration_path, class: "btn btn-large" %>
</div>

