<footer class="footer">
<small>
  Dividend Finder<br>
  2012 Isotope11</br>
</small>
<nav>
    <ul>
      <li><%= link_to "Quotes",   '#' %></li>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>


