<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <%= link_to "dividend finder", root_path, id: "isotopelogo" %>
    <nav>
    <ul class="nav pull-left">
      <li><%= link_to "Home",    root_path %></li>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
    </nav>
  </div>
</div>
</header>


